body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
flex: 1;

}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass-drafting {
    font-size: 2rem;
    color: #fe424d;
}

.nav-link {
    color: #222222 !important;
    font-size: 1.2rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brands {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.f-info {
    height: 8rem;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.listing-card {
    border: none;
    background-color: #ffffff;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.list-link {
    text-decoration: none;

}

.list-link:hover {
    text-decoration: underline;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}
.show-img{
    height: 25vh;
}
.btns{
    display: flex;
    
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
#map { 
    height: 400px; 
    width: 80vh;
    
 }
 .search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    border: none;
    
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

#map{
    border-radius: 1rem;
    height: 400px;
    width: 100px;
}